.checkboxs {
  display: flex;
  flex-wrap: wrap;
}

.filterName {
  font-size: 1.15rem;
}

.checkbox {
  margin-right: 10px;
}
.checkbox:last-of-type {
  margin-right: 0;
}

.filter {
  margin-bottom: 10px;
}
