.pagination {
  display: flex;
  height: 40px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.filter_button {
  position: relative;
  width: 100px;
}
.filter_bubble {
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  padding: 0px 7px;
  top: -6px;
  right: -6px;
  background-color: red;
  border-radius: 50%;
  box-shadow: -1px 3px 1px 0px rgb(0 0 0 / 40%);
}
