.filters {
  background: #f2f2f2;
  border-radius: 4px;
  margin: 5px 0;
  padding: 1rem;
}

.checkboxs {
  display: flex;
  flex-wrap: wrap;
}

.filterName {
  font-size: 1.15rem;
}

.checkbox {
  margin-right: 10px;
}
.checkbox:last-of-type {
  margin-right: 0;
}

.filter {
  margin-bottom: 10px;
}
