.root {
  height: 200px;
  border-top: 1px solid gray;
  margin: 5px 0;
  padding-top: 1rem;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardNumber {
  font-size: 27px;
  font-weight: 500;
}

.price {
  text-align: right;
}

.balance {
  font-size: 42px;
  font-weight: 600;
}

.actions {
  display: flex;
  min-height: 40px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-end;
}
